<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiramisu.model.TableName1">

	<select id="selectForDesc"
		parameterType="com.tiramisu.model.Lodgings"
		resultType="com.tiramisu.model.Lodgings">
		SELECT lod_desc
		FROM lodgings
		WHERE lod_addr LIKE
		CONCAT('%',#{lod_addr}, '%')
	</select>



	<select id="selectForSearchLods"
		parameterType="com.tiramisu.model.Lodgings"
		resultType="com.tiramisu.model.Lodgings">
        SELECT lod_name, lod_desc, lod_id
        FROM lodgings
        WHERE lod_addr LIKE '%' || #{lod} || '%'
           OR lod_name LIKE '%' || #{lod} || '%'
           OR lod_type LIKE '%' || #{lod} || '%'
	</select>

	<select id="selectForDetailLods"
		parameterType="com.tiramisu.model.Lodgings"
		resultType="com.tiramisu.model.Lodgings">

		SELECT *
		FROM lodgings
		WHERE lod_id = #{lod_id}

	</select>

	<select id="selectForRatingLod"
		resultType="com.tiramisu.model.Lodgings">

		SELECT lod_name,lod_desc,lod_id
		FROM lodgings
		ORDER BY lod_ratings DESC

	</select>

</mapper>