<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiramisu.model.TableName1">

	<select id="selectAll" parameterType="com.tiramisu.model.Lodgings" resultType="com.tiramisu.model.Lodgings">
		SELECT * FROM LODGINGS
	</select>
	
	<select id="selectOne" parameterType="com.tiramisu.model.Lodgings" resultType="com.tiramisu.model.Lodgings">
	<!-- 수정 필요! -->
		SELECT * FROM LODGINGS
		WHERE
		LOD_ID = #{}
	</select>

</mapper>