<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiramisu.model.UrlsMapper">

	<select id="selectForType" resultType="com.tiramisu.model.Urls">

		SELECT u.img_url
		FROM urls
		u
		JOIN lodgings l ON u.lod_id = l.lod_id
		WHERE
		l.lod_type = #{lod_type}

	</select>

	<select id="selectForAddr" resultType="com.tiramisu.model.Urls"
		parameterType="com.tiramisu.model.Lodgings">

		SELECT u.img_url
		FROM urls u
		JOIN lodgings l ON u.lod_id =
		l.lod_id
		WHERE l.lon = #{lon} AND l.lat = #{lat}

	</select>

	<select id="selectForSearchUrls"
		resultType="com.tiramisu.model.Urls">

		SELECT u.img_url, u.lod_id
		FROM urls u
		JOIN lodgings l ON u.lod_id = l.lod_id
		WHERE l.lod_addr LIKE '%' || #{lod} || '%'
		OR l.lod_name LIKE '%' || #{lod} || '%'
		OR l.lod_type LIKE '%' || #{lod} || '%'

	</select>

	<select id="selectForDetailUrls"
		resultType="com.tiramisu.model.Urls">

		SELECT img_url
		FROM urls
		WHERE room_id = #{room_id}

	</select>

	<select id="selectForRatingUrl"
		resultType="com.tiramisu.model.Urls">

		SELECT u.img_url
		FROM urls u
		JOIN lodgings l ON u.lod_id =
		l.lod_id
		WHERE u.lod_id = #{lodId}

	</select>

	<select id="selectForTypeUrl"
		resultType="com.tiramisu.model.Urls">
		SELECT u.img_url, u.lod_id
		FROM urls u
		JOIN lodgings l ON u.lod_id = l.lod_id
		WHERE
		l.lod_type = #{lodType}
	</select>

</mapper>