:root,
:root.light {
	--logo: url("../img/logo.png");
    --main-color: #9167bbff;
    --button-hover: #9167bbff;
    --white-color: #ffffff;
    --sub-color: #51366D;
    --search-box: #C3A7E0;
    --light-purple: #DDCAF0;
    --dark-purple: #1F112E;
    --text-color: #000000;
    --sub-text: #4F4F4F;
    --sub-sub-span: #bbbbbb;
    --search-button: url("../img/search.png");
    --theme-bg: #f7f0f6;
    --unused: #aaaaaa;
    --bar-color: #dddddd;
    --box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	--img-bright: invert(71%) sepia(42%) saturate(5536%) hue-rotate(223deg) brightness(77%) contrast(86%);
	--ai-text: #f5ebff;
	--user-text: #bc8aee;
}
:root.dark {
	--logo: url("../img/logo-dark.png");
    --main-color: #9167bbff;
    --button-hover: #C3A7E0;
    --white-color: #121212;
    --sub-color: #C3A7E0;
    --search-box: #9167bbff;
    --light-purple: #51366D;
    --dark-purple: #DDCAF0;
    --text-color: #E0E0E0;
    --sub-text: #B0B0B0;
    --sub-sub-span: #777777;
    --search-button: url("../img/search-dark.png");
    --theme-bg: #51366D;
    --unused: #51366D;
    --bar-color: #51366D;
    --box-shadow: 0 14px 28px rgba(145, 103, 187, 0.25), 0 10px 10px rgba(145, 103, 187, 0.22);
	--img-bright: invert(71%) sepia(42%) saturate(5536%) hue-rotate(223deg) brightness(160%) contrast(86%);
	--ai-text: #322846;
	--user-text: #5a3878;
}
body {
    background-color: var(--white-color);
    color: var(--text-color);
}
/* header */
header {
    width: 100%;
    height: 100px;
    background-color: var(--white-color);
}
.header-wrap {
    width: 100vw;
    max-width: 1200px;
    height: 100%;
    position: relative;
    display: flex;
}

/* logo */
.logo {
    box-sizing: border-box;
    padding: 21px 0;
    margin: 0;
    width: 30vw;
    min-width: 100px;
    max-width: 300px;
    background-image: var(--logo);
    background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* search */
.search {
    box-sizing: border-box;
    padding: 30px 0;
    max-width: 440px;
    margin-right: auto;
    text-align: center;
}
.search-box {
    box-sizing: border-box;
    border: 2px solid var(--search-box);
    background-color: var(--white-color);
    color: var(--text-color);
    border-right: 0;
    border-radius: 30px 0 0 30px;
    caret-color: var(--light-purple);
    padding-left: 24px;
    width: 30vw;
    max-width: 420px;
    height: 36px;
    transition: border 0.5s ease border-bottom 0.5s ease-in;
}
.search-box::placeholder {
    color: var(--search-box);
    font-size: 18px;
    opacity: 80%;
    font-weight: 400;
}
.search-box:focus {
    border: 0px;
    border-top: 2px solid var(--white-color);
    border-bottom: 2px solid var(--search-box);
    border-radius: 0;
    outline: none;
}
.search-box:focus::placeholder {
    color: transparent;
}
.search-toggle {
    background-image: var(--search-button);
    background-repeat: no-repeat;
    background-position: 0 40%;
    background-size: 24px;
    border: 2px solid var(--search-box);
    border-left: 0;
    border-radius: 30px 0 0 30px;
    position: absolute;
    float: right;
    width: 45px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 0 30px 30px 0;
}
.search-box:focus + .search-toggle {
    border: 0px;
    border-top: 2px solid var(--white-color);
    border-bottom: 2px solid var(--search-box);
    border-radius: 0;
}
.search-toggle:hover {
    cursor: pointer;
}
.search-focus {
    display: none;
    z-index: 10;
    position: absolute;
    top: 100px;
    width: 100vw;
    max-width: 1200px;
    height: 60vh;
    box-sizing: border-box;
    padding: 18px 10vw 30px;
    background-color: var(--white-color);
}
@media (min-width: 1000px) {
    .search-focus {
        padding: 18px 50px 30px;
    }
}
.left-text {
    float: left;
    text-align: right;
    width: 15vw;
    max-width: 260px;
    height: 100%;
    padding-right: 18px;
    border-right: 3px solid var(--bar-color);
}
.right-wrap {
    float: left;
    margin-left: 4vw;
}
.right-box {
    height: 100%;
}
.right-box:first-child {
    margin-bottom: 3vh;
}
.right-box p {
    margin: 0;
    margin-right: 18px;
    display: inline;
    float: left;
    justify-content: flex-start;
}
.right-box > input {
    width: 30vw;
    max-width: 200px;
    margin: 0;
    margin-left: 4px;
    background-color: var(--white-color);
    border: 1px solid var(--search-box);
}
.button-grid {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, min(10vw, 80px));
    column-gap: 10px;
}
@media (max-width: 1024px) { .button-grid { grid-template-columns: repeat(3, min(10vw, 80px)); } }
@media (max-width: 768px) { .button-grid { grid-template-columns: repeat(2, min(10vw, 80px)); } }

.destination-button {
    height: 100%;
    margin: 0;
}
.destination-button > li {
    width: 100%;
    margin: 4px;
    border: 1px solid var(--light-purple);
}
.destination-button > li > button {
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--unused);
}
.destination-button > li > button:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0;
    color: var(--white-color);
    cursor: pointer;
}
/*  */
#vButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    margin-right: 12px;
    width: 10vw;
    max-width: 70px;
    height: auto;
    box-sizing: border-box;
    padding: 4px 0;
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 15px;
}
#vButton:hover {
    cursor: pointer;
    background-color: var(--dark-purple);
    color: var(--main-color);
}
/*  */
/* map */
.hamburger-wrap {
    box-sizing: border-box;
    float: right;
    margin: 0;
}
.hamburger {
    display: flex;
    align-items: center;
    width: 10vw;
    max-width: 180px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.hamburger:hover { cursor: pointer; }
.map-name {
    text-align:start;
    box-sizing: border-box;
    font-size: clamp(16px, 2vw, 20px);
    margin-right: 10px;
    color: var(--main-color);
    display: inline-block;
}
.hamburger-icon {
    width: 28px;
    height: 28px;
    margin: 0;
    position: relative;
}
.hamburger-icon div {
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-sizing: border-box;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-color: var(--main-color);
}
.icon2 {
    top: 11px;
}
.icon3 {
    top: 22px;
}

nav {
    display: none;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100vw;
    max-width: 1200px;
    background-color: var(--white-color);
}
nav a {
    display: block;
    font-size: 24px;
}
.hamburger-menu {
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 24px;
    width: 100%;
    background-color: var(--white-color);
}
.hamburger-menu > li {
    vertical-align: top;
    color: var(--main-color);
    width: 200px;
    margin: 0 14px;
    text-align: left;
}
.hamburger-menu > li > a {
    font-weight: bold;
}
.hamburger-menu > li > a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}
.sub-menu {
    width: 100%;
}
.sub-menu li {
    width: 100%;
    text-align: left;
}
.sub-menu a {
    font-size: 20px;
    color: var(--sub-color);
}
.sub-menu a:hover {
    background-color: var(--sub-color);
    color: var(--white-color);
}
/*  */

/* footer */
footer {
    width: 100%;
    height: 30vh;
}
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid var(--light-purple);
    width: 100vw;
    max-width: 1200px;
    height: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}
.f-text-h,
.f-text,
.f-connect {
    width: 40vw;
    max-width: 300px;
    max-height: 240px;
    margin: 10px;
}
.f-text-h > p {
	font-size: 24px;
	font-weight: bold;
}
.f-text {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	opacity: 60%;
}
.f-connect > hr {
	border: 1px solid var(--bar-color);
	opacity: 60%;
}
.f-connect div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.f-connect img {
	width: 60px;
	padding: 10px;
}

/*  */

@media (max-width: 800px) {
    .hamburger-icon div {
        width: 24px;
    }
    nav, .hamburger-menu, .search-focus {
        height: 70vh;
    }
    .hamburger-menu > li {
        height: 14vh;
    }
}
@media (min-width: 800px) {
    .hamburger-icon div {
        width: 28px;
    }
    nav, .hamburger-menu, .search-focus {
        height: 240px;
    }
}
@media (max-width: 768px) {
    .footer-wrap {
        flex-direction: column;
        justify-content: center;
    }

    .f-text-h,
    .f-text,
    .f-connect {
        width: 80%;
        margin: 10px 0;
    }
}