/*  */
#banner {
	width: 100vw;
    max-width: 1200px;
    height: 340px;
    position: relative;
    overflow: hidden;
}
#banner div {
	width: 100vw;
	max-width: 100%;
	height: 100%;
}
#banner div img {
	width: 100vw;
	max-width: 1200px;
	height: 30vw;
	max-height: 340px;
	object-fit: cover;
    object-position: center;
}
.banner-text {
    display: none;
    position: absolute;
    left: 420px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.3s ease;
}


/*  */
#search-result {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}
.result-top-text {
    box-sizing: border-box;
    padding: 0 42px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-end;
}
.result-top-text > p {
    margin: 0;
    width: 90%;
}
.result-top-text > select {
    margin: 0;
    width: 20vw;
    max-width: 120px;
    height: 26px;
    box-sizing: border-box;
    padding: 0 4px;
    border: 1px solid var(--bar-color);
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 3px;
}
.result-top-text > select:hover {
    cursor: pointer;
    color: var(--main-color);
}
.result-top-text > select > option {
    color: var(--bar-color);
}
.result-list {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    column-gap: 24px;
    row-gap: 36px;
    width: 100vw;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 6px 24px 54px 24px;
}
@media (max-width: 1024px) { .result-list { grid-template-columns: repeat(2, 1fr); }};
.result-list > li {
    width: 100vw;
    max-width: 260px;
    height: 440px;
    border: 1px solid var(--bar-color);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);  
}
.result-list li > form {
    width: 100%;
    height: 100%;
    display: block;
}
.result-list li > form:hover {
    box-shadow: var(--box-shadow);
}
.result-list li > form > button {
	height: 40px;
	color: var(--main-color);
}
.text-box {
    width: 100vw;
    max-width: 260px;
    text-align: left;
    box-sizing: border-box;
    padding: 0 14px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.text-box > h3,
.text-box > p {
	display: block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-box > h3 {
	white-space: nowrap;
    margin: 0;
    margin-top: 2px;
    height: 36px;
    width: 232px;
    line-clamp: 1;
}
.text-box > p {
    margin: 0;
    margin-top: 4px;
	width: 232px;
    height: 56px;
    font-size: 16px;
    color: var(--sub-text);
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
}
.paging-button {
    display: flex;
    justify-content: center;
    height: 200px;
}
.paging-button img {
    margin: 0;
    margin-top: 6px;
    height: 20px;
    opacity: 20%;
    filter: var(--img-bright);
}
.paging-button img:hover {
    opacity: 1;
    filter: invert(71%) sepia(42%) saturate(5536%) hue-rotate(223deg) brightness(77%) contrast(86%);
    cursor: pointer;
}
.number-button {
    display: inline;
    margin: 0 24px;
    align-items: center;
}
.number-button > a {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 32px;
    padding: 0 12px;
    padding-left: 8px;
    border-right: 2px solid var(--light-purple);
}
.number-button > a:last-child {
    border-right: none;
}
.number-button p {
    font-size: 18px;
    color: var(--unused);
}
.number-button > a::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-top: 2px solid var(--main-color);
    transition: width 0.4s;
}
.number-button > a:hover::after, .number-button p:hover {
    color: var(--main-color);
    width: 90%;
}
.number-button > a.active, .number-button > a.active p {
    color: var(--main-color);
}
.number-button > a.active::after {
    width: 100%;
}
.searchImg {
    width: 260px;
    height: 280px;
    object-fit: cover; /* 이미지 비율에 맞게 크기 조정 */
}